@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    background: url(pic1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 420px;
    background:#54b0de;
    color:black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: #000;
    padding: 70px 30px;
    border-bottom: 6px solid cadetblue;
    border-right: 4px solid skyblue;
}

.avatar{
    width: 120px;
    height: 120px;
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
    filter: blur(53);
}

h1{
    margin: 0;
    padding: 0px 40px 15px;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
}

/*-------------------------------------------------------------*/
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid beige;
    border-radius: 10px;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
}

::placeholder
{
    font-size: 15px;
}


/*--------------------------------------------------------------*/
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    width: 255px;
    position: relative;
    margin-top: 30px;
    background: rgb(83, 146, 165);
    color: rgb(14, 4, 104);
    font-size: 18px;
    border-radius: 10px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #5829d8;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: rgb(233, 233, 233);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.loginbox a:hover
{
    color: #5829d8;
}

.linebox{
    margin-top: 20px;
}

  

